OPENAI_API_KEY=
APIFY_API_TOKEN=

#Variables para envío de correos (Gmail SMTP)
EMAIL_REMITENTE=
APP_PASSWORD_GMAIL=

#Datos del remitente para la firma del cold email
SENDER_NAME=
SENDER_POSITION=
SENDER_COMPANY=
SENDER_PHONE=
SENDER_EMAIL=

LANGSMITH_API_KEY=
